.customer_review {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}

.customer_review h6 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.review {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(51, 153, 153, 0.1);
    padding: 16px 0;

}

.top_review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.middle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.middle span {
    font-size: 16px;
    font-weight: 500;
}

.icon_user {
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 6px;
    padding: 4px;
    margin-right: 8px;
}

.icon_user svg {
    font-size: 18px;
}

.user_review {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:450px) {
    .customer_review {
        width: 90%;
    }
}